<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{ title }} - ralph j. recto</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>

    html {
      height: 100%;
    }

    body {
      height: 100%;
    }

    #nav a {
      color: black;
    }

    #main-container {
      height: inherit;
    }

    #article p:first-of-type:first-letter {
      font-size: 4.5em;
      float:left;
    margin-right: 0.15em;
    line-height: 1.0;
  }

  #article p {
    margin-bottom: 0.5em;
  }

  #sidebar {
    text-align: right;
    border-right: 3px double gray;
    padding-top: 1em;
  }

  @media (max-width: 767.98px) {
    padding: 20px;
  }

  @media (max-width: 767.98px) {
    body {
    }
  }

  @media (max-width: 9999px) {
    body {
    }
  }

  #content {
    text-align: justify;
    padding-left: 1em;
    padding-top: 1em;
  }

    body {
      font-family: georgia;
      line-height: 1.5;
      font-size: 1em;
    }

    #nav {
      padding-top: 20px;
      font-variant: small-caps;
      font-size: 20px;
    }

    #header {
      font-size: 1em;
      font-weight: bold;
      padding: 12px 0 0px 12px;
      border-bottom: 3px double white;
    }

    #article h5 {
      font-style: italic;
      padding-top: 30px;
    }

    #article {
      padding-bottom: 40px;
    }
  </style>
</head>

<body>
  <div id="main-container" class="container-fluid">
    <div class="row h-100">
      <div class="col-3" id="sidebar">
      <p>
        <span id="header">ralph j. recto</span>
        <br>
        <span>&nbsp;</span>
        </p>
        <div id="nav">
          <p><a href="/">about</a></p>
          <p><a href="/blog">blog</a></p>
        </div>
      </div>
      <div class="col-9" id="content">
        <div class="row">
        <p>
        <br>
        </p>
        </div>
        <div class="row">
          <div style="max-width: 1024px;padding-right:1em; padding-left: 1em;">
          <!--<span style="font-size: 24px; font-style:italic; font-weight: bold;">{{ title }}</span> -->
          <h1>{{ title }}</h1>
          <span style="font-size: 14px;">{{ date | date: "%B %e, %Y" }}&nbsp;</span>
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
